<?xml version="1.0"?>
<config>
    <modules>
        <VS7_AuthLog>
            <version>0.1.0</version>
        </VS7_AuthLog>
    </modules>
    <global>
        <models>
            <vs7_authlog>
                <class>VS7_AuthLog_Model</class>
                <resourceModel>vs7_authlog_resource</resourceModel>
            </vs7_authlog>
            <vs7_authlog_resource>
                <class>VS7_AuthLog_Model_Resource</class>
                <entities>
                    <log>
                        <table>vs7_authlog</table>
                    </log>
                </entities>
            </vs7_authlog_resource>
        </models>
        <resources>
            <vs7_authlog_setup>
                <setup>
                    <module>VS7_AuthLog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_authlog_setup>
            <vs7_authlog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_authlog_write>
            <vs7_authlog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_authlog_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <admin_user_authenticate_after>
                <observers>
                    <vs7_authlog>
                        <class>vs7_authlog/observer</class>
                        <method>authLog</method>
                    </vs7_authlog>
                </observers>
            </admin_user_authenticate_after>
            <admin_session_user_login_failed>
                <observers>
                    <vs7_authlog_blocked>
                        <class>vs7_authlog/observer</class>
                        <method>authLog</method>
                    </vs7_authlog_blocked>
                </observers>
            </admin_session_user_login_failed>
        </events>
    </adminhtml>
</config>